# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#netbeans specific
*/core
*/nbproject/*
!*/nbproject/configurations.xml
!*/nbproject/project.xml
*/dist
*/build


*~
*/*.dep.inc
*.tar.gz
*.tgz
*/src/*~
Analysis/*.ps
Analysis/*.root
Analysis/*.txt
Analysis/*~
Analysis/*.eps
Analysis/Observables*
Analysis/*.sh
Analysis/*.zip

#BAT
BAT-0.9.*/
BAT_parallel*/
*.libs
BAT-0.9.3_parallel/
BAT-0.9.4.1_parallel/
BAT-1.0.0*
BAT/

#Local Files
Cuba
FeynHiggs
LoopTools
boost/
doc/.DS_Store
doc/Developer Support/.DS_Store
test2/
.DS_Store
.gitignore~
Analysis/GeneratedEvents/
Analysis/Observables/

#LaTeX output
*.bbl
*.blg
*.toc
*.spl

#Packaging
Packaging/HEPfit*

#ZFitter
ZFitter*

# Release Exclusions
THDMW
LeftRightSymmetricModel
GeneralTHDM
pMSSM
GeorgiMachacek
gslpp/src/gslpp_rgerunner.*
MFV
Flavour/src/AmpDD2.cpp
Flavour/src/AmpDD2.h
Flavour/src/AmpDS1.cpp
Flavour/src/AmpDS1.h
Flavour/src/ArgD.h
Flavour/src/BR_Bdnunu.cpp
Flavour/src/BR_Bdnunu.h
Flavour/src/BR_Bsnunu.cpp
Flavour/src/BR_Bsnunu.h
Flavour/src/BR_Kmumu.cpp
Flavour/src/BR_Kmumu.h
Flavour/src/BR_Kp0nunu.cpp
Flavour/src/BR_Kp0nunu.h
Flavour/src/BR_Kppnunu.cpp
Flavour/src/BR_Kppnunu.h
Flavour/src/CPenguinBox.cpp
Flavour/src/CPenguinBox.h
Flavour/src/CPenguinBoxMu.cpp
Flavour/src/CPenguinBoxMu.h
Flavour/src/Charm_Kpnunu.cpp
Flavour/src/Charm_Kpnunu.h
Flavour/src/EpsilonP_O_Epsilon.cpp
Flavour/src/EpsilonP_O_Epsilon.h
Flavour/src/EvolDC1.cpp
Flavour/src/EvolDC1.h
Flavour/src/EvolDC1Buras.cpp
Flavour/src/EvolDC1Buras.h
Flavour/src/EvolDF1nlep.cpp
Flavour/src/EvolDF1nlep.h
Flavour/src/HeffDC1.cpp
Flavour/src/HeffDC1.h
Flavour/src/HeffDF1bnlep.cpp
Flavour/src/HeffDF1bnlep.h
Flavour/src/HeffDS1.cpp
Flavour/src/HeffDS1.h
Flavour/src/M12D.h
